@page {
    size: A4;
    margin: 1cm;
    counter-increment: page;
}

@page :left {
    @bottom-left {
        content: counter(page) " of " counter(pages);
    }
}

@page :right {
    @bottom-right {
        content: counter(page) " of " counter(pages);
    }
}

hr, h1 {
    page-break-before: always;
}

h2, h3 {
    page-break-after: avoid;
}

pre,
blockquote {
    page-break-inside: avoid;
}